.heroWrapper{
  margin-top: 70px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction{
  font-size: 64px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.about{
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.myPhoto{
  margin-top: 35px;
}

.heroIconsWrapper{
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.mySkills{
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}


.skillsSection h1{
  margin-top: 100px;
  margin-bottom: 100px;
}

.workSection{
  margin-top: 100px;

}

.myWork{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 75px;
  flex-wrap: wrap;
}
.contactsSection{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsWrapper{
  background-color: white;
  width: 400px;
  height: fit-content;
  margin-top: 100px;
  padding: 30px;
  border-radius: 30px;
}
.contacts{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom:50px ;
}

.contact{
  font-size: 20px;
  font-weight: 700;
}

.Socials{
  margin-right: 10px;
}


@media (max-width: 550px) {
  .introduction{
    font-size: 55px;
  }
  .about{
    font-size: 20px;

  }

  .myPhoto{
    width:320px ;
    height: 320px;
  }

  .reactIcon{
    width: 200px;
    height: 120px;
  }

  .contactsWrapper{
    width: 350px;
  }
}


@media (max-width: 450px) {
  .introduction{
    font-size: 50px;
  }
  .about{
    font-size: 17px;

  }

  .myPhoto{
    width:300px ;
    height: 300px;
  }

  .reactIcon{
    width: 170px;
    height: 100px;
  }

  .contactsWrapper{
    width: 300px;
  }
}

@media (max-width: 400px) {
  .introduction{
    font-size: 45px;
  }
  .about{
    font-size: 15px;

  }

  .myPhoto{
    width:280px ;
    height: 280px;
  }

  .reactIcon{
    width: 170px;
    height: 100px;
  }

  .contactsWrapper{
    width: 300px;
  }
}


@media (max-width: 360px) {
  .introduction{
    font-size: 45px;
  }
  .about{
    font-size: 15px;

  }

  .myPhoto{
    width:280px ;
    height: 280px;
  }

  .reactIcon{
    width: 150px;
    height: 90px;
  }

  .contactsWrapper{
    width: 250px;
  }
}


@media (max-width: 330px) {
  .introduction{
    font-size: 35px;
  }
  .about{
    font-size: 13px;

  }

  .myPhoto{
    width:250px ;
    height: 250px;
  }

  .reactIcon{
    width: 150px;
    height: 90px;
  }

  .contactsWrapper{
    width: 240px;
  }
}